<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/NTR.css')}}">
    <style>
    body
    {
        background-image:url("{{url_for('static',filename='images/ntr.jpeg')}}");
        background-repeat:no-repeat ;
        background-size:cover ;
        background-position: 0px 0px;
        background-attachment:fixed;
    }
    </style>
</head>
<body>
    <center>
        <h1>static_files</h1>
        <h2>this is image rapresentaion</h2>
        <img src="{{url_for('static',filename='images/NTR.jpg')}}" alt="image not found" >
        <br><br>
        <a href="{{url_for('h1')}}" class="btn btn-primary">navigate to hi html page</a>
    </center>
</body>
</html>